#login_btn button {
  background: none;
  border: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  color: #ff5757;
  line-height: 50px;
  padding-left: 20px;
  font-size: 0.9em;
}

#link {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: -10px;
  left: -100vw;
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1) 0s;
  z-index: 101;
}

#link-in {
  position: relative;
  height: 100vh;
  width: 85%;
  background-color: white;
  overflow-y: scroll;
  z-index: 100;
}

.form::placeholder {
  color: white;
}

#link-in #account {
  display: block;
  height: 150px;
  width: 100%;
/*  background-color: #ff5757;*/
  background-color: #404040;
  color: white;
  text-align: left;
}
#link-in #account:hover{
  background: #BF3434;
}
#link-in #account{
  text-decoration: none;
}

#link-in #account ul {
  height: auto;
  width: auto;
  padding-top: 50px;
  /*    background-color: aquamarine;*/
}

#link-in #account li:nth-child(1) {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-left: 20px;
  background-color: white;
  overflow: hidden;
}
#link-in #account li img{
  height: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#link-in #account li:nth-child(2) {
  margin-left: 20px;
  line-height: 50px;
  font-size: 1.0em;
}

#link-list li {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-size: 0.9em;
/*  padding-left: 50px;*/
  font-weight: 530;
}
#link-list li a{
  display: block;
  width: 100%;
  height: 55px;
  line-height: 55px;
  color: black;
  text-decoration: none;
/*  background-color: aqua;*/
  margin-top: -25px;
}
#link-list li a:hover{
  background: rgba(0,0,0,0.1);
}
#link-list li::before{
  content: '';
  display: block;
  position: relative;
  top: 15px;
  left: 20px;
  width: 25px;
  height: 25px;
/*  background-image: url(../img/home.png);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#link-list ul {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid rgba(0, 0, 0, 0.1) 1px;
}

/*
#link-list ul li img{
  height: 25px;
  margin-top: 15px;
  margin-left: 20px;
}
*/
#link-list .link-title{
  color: black;
  height: 55px;
  line-height: 55px;
  width: auto;
  position: relative;
/*  top: -25px;*/
  left: 80px;
}
#link #point {
  margin-top: 10px;
  width: 100%;
  height: 50px;
/*  background-color: aqua;*/
}
#link #point:hover{
  background: rgba(0,0,0,0.2);
}
#link #point ul{
  width: 100%;
  height: 50px;
/*  background-color: blueviolet;*/
  display: flex;
  justify-content: space-between;
}
#link #point li:nth-child(1){
  width: 50%;
  height: 50px;
/*  background-color: coral;*/
  margin-left: 20px;
}
#link #point li:nth-child(2){
  height: 50px;
  line-height: 50px;
  margin-right: 20px;
  font-size: 0.9em;
}
#link #point li a{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: black;
  font-size: 0.9em;
  text-decoration: none;
}
#link #point .point-icon{
    background-color: goldenrod;
/*    width: 30px;*/
/*    height: 30px;*/
  padding: 1px 6px 1px 6px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
/*    line-height: 35px;*/
    font-weight: 600;
    border: solid gold 2px;
    color: gold;
  margin-right: 10px;
  }
#link #useinfo {
  width: 100%;
  height: 50px;
}
#link #userinfo a{
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  padding-left: 20px;
}
#link #userinfo a:hover{
  background: rgba(0,0,0,0.2);
}

/*-----link animate-----*/
.link-active {
  transform: translateX(100vw);
  background: rgba(0, 0, 0, 0.6);
}