header {
  position: absolute;
  top: 10%;
  left: 0%;
  width: 100%;
  height: auto;
}
header h1,
header h2{
  text-align: center;
}
header h1 img{
  height: 100px;
}
header h2{
  margin-top: 20px;
  font-size: 1.5em;
  color: gray;
  letter-spacing: 3px;
}
