#music {
  width: 95%;
  height: auto;
/*  padding-top: 120px;*/
  margin: 0 auto;
  background-color: white;
  
}
.music-content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15px;
/*  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);*/
  background-color: coral;
  justify-content: space-between;
}

.music-content .musicIcon {
  margin-top: 21px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: solid gray 2px;
  border-top: solid gray 2px;
  width: 18px;
  height: 8px;
  display: block;
  z-index: 2;
}

.music-content img {
  width: 50px;
  height: 50px;
  margin-left: 2px;
}

.music-content ul {
  margin-left: 10px;
  height: 50px;
}

.music-content .title {
  font-size: 1.0em;
  line-height: 30px;
}

.music-content .artist {
  font-size: 0.8em;
  color: gray;
}

#music h2{
  line-height: 40px;
  width:90%;
  margin: 0 auto;
  text-align: center;
  color: #ff5757;
  font-size: 1.0em;
  border-bottom: solid rgba(0,0,0,0.1) 1px;
  margin-bottom: 20px;
}
.music-content-in {
  display: flex;
/*  background-color: aqua;*/
}
.music-content .info-btn {
  padding-top: 17px;
  margin-right: 10px;
}
.music-content .info-btn div{
  width: 4px;
  height: 4px;
  border-radius: 2px;
  margin-bottom: 3px;
/*  background-color: blueviolet;*/
}
.music-option{
  position: relative;
  height: auto;
  width: 50%;
  background-color: white;
  right: 10px;
  top: 50px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
  z-index: 100;
  margin-left: calc(-100% - 50px);
  margin-bottom: -50px;
  z-index: 2;
}
.music-option li{
  width: 100%;
  height: 50px;
  border-bottom: solid rgba(0,0,0,0.1) 1px;
/*  background-color: aqua;*/
}
.music-option label{
  width: 100%;
  height: 50px;
/*  background-color: blueviolet;*/
  font-size: 0.9em;
  line-height: 50px;
  padding-left: 10px;
}
.music-option ul{
  width: 100%;
  height: auto;
  margin-left: 0;
}
.music-option button{
  background: none;
  border: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  width: 100%;
  height: 50px;
  line-height: 20px;
/*  border: solid black 1px;*/
  text-align: left;
  font-size: 0.9em;
  padding: 10px;
/*  background-color: aqua;*/
}
.music-option-bg{
  width: 100%;
  height: 100vh;
/*  background-color: ;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.music-option {
  
}

 
#music-check {
  display: none;
}
