#music {
  width: 100%;
  height: auto;
  padding-top: 140px;
}
.music-content {
  display: flex;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.music-content .musicIcon {
  margin-top: 21px;
  margin-left: 15px;
  border-bottom: solid gray 2px;
  border-top: solid gray 2px;
  width: 15px;
  height: 8px;
  display: block;
  z-index: 2;
}

.music-content img {
  width: 50px;
  height: 50px;
  margin-left: 5px;
}

.music-content ul {
  margin-left: 10px;
  height: 50px;
}

.music-content .title {
  font-size: 1.1em;
  line-height: 30px;
}

.music-content .artist {
  font-size: 0.8em;
  color: gray;
}

#music h2{
  line-height: 60px;
  width:90%;
  margin: 0 auto;
  text-align: center;
  color: #ff5757;
  font-size: 1.1em;
  border-bottom: solid rgba(0,0,0,0.1) 1px;
  margin-bottom: 20px;
}