#app {
  position: absolute;
  top: 10px;
  width: 100vw;
  height: 45px;
  border-radius: 2px;
  background-color: #ff5757;
  display: flex;
  z-index: 100;
}
#app nav{
}
#app p{
  width: 70%;
}
#app #form{
  height: 45px;
  line-height: 45px;
  width: 100%;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  caret-color: yellow;
  margin-left: 50px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 90%;
}
#contents {
  width: 95%;
  height: auto;
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 50%;*/
/*  transform: translate(-50%);*/
  margin: 0 auto;
  overflow-y: scroll;
  background-color: #404040;
  
/*  background-color: #f8a8c5;*/
/*  transform: translate(0,100vh);*/
}
#contents h2{
  font-size: 1.3em;
  margin-bottom: 10px;
  margin-left: 20px;
  color: white;
}
#artist {
  width: 100%;
  height: auto;
  
  margin-top: 80px;
}
#artist h2{
/*  margin-bottom: 10px;*/
}
#artist .artist-contents,
#album .album-contents{
  width: 100%;
  height: auto;
/*  background-color: white;*/
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
}
#artist .artist-content,
#album .album-content {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
#artist .artist-content .artist-img{
  height: 100px;
  width: 100%;
/*  background-color: darkgoldenrod;*/
/*  background-image: url(../img/joan-jett.jpg);*/
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
/*  filter: blur(2px);*/
/*  position: relative;*/
/*  z-index: 0;*/
}
#artist .artist-content .artist-img::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
/*  display: block;*/
  background: inherit;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
/*  position: relative;*/
/*  top: 10px;*/
/*  left: 10px;*/
/*  right: 10px;*/
/*  bottom: 10px;*/
/*  z-index: 0;*/
  border: solid aqua 1px;
  
}
#artist .artist-content .artist-img img{
  height: 80%;
  position: relative;
/*  top: -50%;*/
  left: 50%;
  transform: translate(0%,-110%);
  border: solid rgba(0,0,0,0.2) 2px;
  z-index: 10;
}
#artist .artist-content h3{
  height: 40px;
  width: 100%;
  line-height: 40px;
  background-color: white;
  font-weight: 400;
  padding-left: 10px;
}

#album {
  margin-top: 50px;
}
#album .album-content .album-img{
  width: 100%;
/*  background-color: fuchsia;*/
}
#album .album-content .album-img img{
  width: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#album .album-content ul{
/*  background-color: gold;*/
  padding-bottom: 10px;
}
#album .album-content li{
/*  line-height: 30px;*/
/*  padding: 10px;*/
}
#album .album-content li:nth-child(1){
  width: 100%;
  height: 30px;
  line-height: 40px;
  padding-left: 10px;
/*  padding-top: 10px;*/
/*  padding-left: 10px;*/
  font-size: 1.0em;
}
#album .album-content li:nth-child(2){
  width: 100%;
  height: 25px;
  line-height: 25px;
  font-size: 0.8em;
  padding-left: 10px;
}

#music {
  margin-top: 50px;
  margin-bottom: 100px;
}
#music .music-contents{
  width: 100%;
  height: auto;
  background-color: white;
/*  background-color: #ff9e85;*/
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
#music .music-content{
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  width: 95%;
  margin: 0 auto;
/*  margin-bottom: 15px;*/
/*  border: solid black 1px;*/
  background-color: white;
}
.music-content img{
  width: 50px;
  height: 50px;
  margin-left: 2px;
}

.music-content ul {
  margin-left: 10px;
  height: 50px;
}

.music-content .title {
  font-size: 1.0em;
  line-height: 30px;
}

.music-content .artist {
  font-size: 0.8em;
  color: gray;
}
.contents-head {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.contents-head .ajax-active{
  background-color: #ff5757;
  color: white;
  height: 30px;
  line-height: 15px;
  margin-right: 10px;
  margin-top: 10px;
}
.contents-head li:nth-child(1){
  color: white;
  font-size: 1.3em;
  line-height: 50px;
  margin-left: 20px;
}
